/**
 * Mizzou Framework - Sass: Base Mixins
 *
 * Requires: variables.scss
 *
 * @author Josh Hughes (hughesjd@missouri.edu), Josh Nichols (nicholsjc@missouri.edu), University of Missouri
 * @copyright 2015 Curators of the University of Missouri
 * @version 1.00
 */
 
/* @group Placeholder Selectors */

// Apply on a container to have that container enclose floated elements.

// Maybe use this instead? http://learnlayout.com/clearfix.html

/*
    overflow: auto;
    zoom: 1; // For IE6
*/

@mixin clear-fix()
{   
    // New way. Test!
    overflow: auto;
    
    /* Old way
    &:before,
    &:after
    {
        content: ' ';
        display: table;
    }
    
    &:after
    {
        clear: both;
    }
    */
}

// Center align an image or figure.
@mixin align-center()
{
    margin: 0 auto 1em auto;
    text-align: center;
}

// Left align an image or figure.
@mixin align-left()
{
    margin: 0 1em 1em 0;
    float: left;
    display: block;
}

// Right align an image or figure.
@mixin align-right()
{
    margin: 0 0 1em 1em;
    float: right;
    display: block;
}

// Ignore set widths and heights for images, so they work well with responsive containers
@mixin flexible-image()
{
    max-width: 100%;
    width: auto;
    height: auto;
}

/* @end */

/**
 * Image replacement technique. Offsets the element text and sets a background image
 *
 * @param string $filename (Optional) Filename of the image. Defaults to 'none'
 * @param unit $width (Optional) Width of the image. Defaults to 'none'
 * @param unit $height (Optional) Height of the image. Defaults to 'none'
 */
@mixin replace-with-image(
    $filename:      'none',
    $width:         'none',
    $height:        'none'
)
{
    display: block;
    text-indent: 200%;
    white-space: nowrap;
    overflow: hidden;
    padding: 0;
    background-repeat: no-repeat;
    
    @if ($filename != 'none') {
        background-image: url('{$image-path}/{$filename}');
    }
    
    @if ($width != 'none') {
        width: $width;
    }
    
    @if ($height != 'none') {
        height: $height;
    }
}
