/**
 * Mizzou Framework - Sass: Base
 *
 * Requires: variables.scss, base-mixins.scss
 *
 * @author Josh Hughes (hughesjd@missouri.edu), Josh Nichols (nicholsjc@missouri.edu), University of Missouri
 * @copyright 2015 Curators of the University of Missouri
 * @version 1.00
 */

/* @group Viewport */

// This is primarily to deal with this issue:
// http://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design/
@-ms-viewport
{
    width: $viewport-width;
}
@-o-viewport
{
    width: $viewport-width;
}
@viewport
{
    width: $viewport-width;
}

/* @end */


/* @group General Settings / Major Containers */

*,
*:before,
*:after
{
    box-sizing: border-box;
}

// Generally the target of a "Skip to Content" link
*[tabindex="-1"] 
{
    outline: none;
}
article,
aside,
audio,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
video
{
    display: block;
    margin: 0;
    padding: 0;
}
html
{
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    background: $grey-darker;
    font-family: $font-sans;
    font-size: $font-base-size + 0px;
    line-height: $font-base-line-height;
    min-width: $base-min-width; 
}
body
{
    background: $background-color;
    color: $text-color;
    margin: 0;
}

/* @end */


/* @group Text Format */
    
b,
strong,
.bold
{
    font-weight: $font-bold-default;
}

i,
em,
.italic
{
    font-style: italic;
    
    em
    {
        font-style: normal;
    }
}
u
{
    text-decoration: none; // Sorry, unacceptable to use this
}
/* @end */


/* @group Headings and Paragraphs */

h1,
h2,
h3,
h4,
h5,
h6,
.like-h1,
.like-h2,
.like-h3,
.like-h4,
.like-h5,
.like-h6
{
    //margin: $base-margin;
    font-weight: $font-bold-default;
    color: #000;
    
    a
    {
        text-decoration: none;
    }
}

h1,
.like-h1
{
    font-size: 3em; 
    line-height: 1.2;
}

h2,
.like-h2
{
    font-size: 2em; 
    line-height: 1.4;
}

h3,
.like-h3
{
    font-size: 1.5em; 
    line-height: 1.4;
}

h4,
.like-h4
{
    font-size: 1em;
}

h5,
h6,
.like-h5,
.like-h6
{
    color: $grey;
    font-size: 1em;
}

h6,
.like-h6
{
    color: $grey-light;
    font-style: italic;
}

p
{
    //margin: $base-margin;
}

/* @end */

/* @group Images, Figures, and Video */

img
{
    border: 0;
    
    @if ($use-flexible-images == true) {
        @include flexible-image();
    }
}

figure,
.alignnone,
.alignleft,
.aligncenter,
.alignright
{
    //margin: $base-margin;
    max-width: 100%;
}

figcaption
{
    font-weight: $font-bold-default;
    font-size: .875em;
    
    p
    {
        font-size: inherit;
    }
}

figure.left,
.alignleft
{
    @if ($query-inset-images != false) {        
        @media #{$query-inset-images}
        {
            @include align-left();
            max-width: $inset-image-width;
        }
    }
}

figure.center,
.aligncenter
{
    @include align-center();
}

figure.right,
.alignright
{
    @if ($query-inset-images != false) {        
        @media #{$query-inset-images}
        {
            @include align-right();
            max-width: $inset-image-width;
        }
    }
}

iframe
{
    border: 0;
    clear: both;
}

.video
{
    // Defaults to widescreen
    //margin: $base-margin;
    position: relative;
    padding-bottom: 56.25%; // 16/9 aspect ratio
    height: 0;
    overflow: hidden;
    
    &.video--4x3
    {
        padding-bottom: 75%; // 4/3 aspect ration
    }
    
    iframe
    {
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

/* @end */

/* @group Blockquotes */
    
blockquote,
.like-blockquote
{
    //margin: $base-margin;
    margin-left: 0;
    font-style: italic;
    font-size: 1.25em;
    padding-left: 1em;
    border-left: solid 1px $gold;    

    &:last-child
    {
        margin-bottom: 0;
    }
}

/* @end */

/* @group Addresses */

address
{
    font-style: normal;
}

/* @end */

/* @group Horizontal Rules */

hr
{
    //margin: $base-margin;
    clear: both;
    border: 0;
    border-bottom: 1px solid $gold-light;
    
    &.rule--dashed
    {
        border-style: dashed;
    }
}

/* @end */

/* @group Lists */

ul,
ol
{
    //margin: $base-margin;
    
    ul,
    ol
    {
        margin-bottom: 0;
    }
}

li
{
    li,
    p
    {
        font-size: inherit;
    }
}

dl,
dd
{
    //margin: $base-margin;
}

dt
{
    font-weight: $font-bold-default;
}

/* @end */

/* @group Forms */

form,
fieldset
{
    //margin: $base-margin;
}

fieldset,
legend
{
    padding: 0;
    border: 0;
}

legend
{
    @extend like-h2();
}

input[type='text'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='url'],
input[type='email'],
textarea
{
    margin: 0;
    padding: 4px;
    border: 1px solid $grey-light;
    font-size: 100%;
    font-family: inherit;
    color: $grey-dark;
    border-radius: 0;
    box-shadow: inset 0 0 4px fade($grey-light, 75%);
    display: block;
    -webkit-appearance: none;
}

input[type='submit'],
input[type='reset'],
input[type='button'],
button
{
    vertical-align: top;
    cursor: pointer;
    
    &::-moz-focus-inner
    {
        border: 0;
        padding: 0;
    }
}

/* @end */

/* @group Tables */

table
{
    //margin: $base-margin;
    border-collapse: collapse;
    border-spacing: 0;
}

th,
td
{
    border: 1px solid $grey-light;
    text-align: left;
}

th,
td
{
    vertical-align: top;
    padding: 4px 8px;
}

th[scope='col']
{
    border-bottom-width: 2px;
}

th[scope='row']
{
    border-right-width: 2px;
}

tfoot th,
tfoot td
{
    font-size: 14px;
    border: 0;
}

caption
{
    @extend .like-h4;
    margin: 0 0 8px 0;
    text-align: left;
}

/* @end */

/* @group Code and Preformatted Text */

pre,
code,
var
{
    font-family: $font-monospace;
    font-size: 14px;
    white-space: pre-wrap;
}

var
{
    font-weight: bold;
    font-style: normal;
}

/* @end */

/* @group Links */

a
{
    color: $link-color;
    text-decoration: underline;
    
    &:hover,
    &:focus,
    &:active
    {
        color: $link-hover-color;
    }
}

/* @end */

/* @group Marks and Notations */

abbr,
acronym
{
    border-bottom: 1px dotted $grey-light;
    cursor: help;
}

sub,
sup 
{
    position: relative;
    font-size: 0.75em;
    line-height: 0;
    vertical-align: baseline;
}

sup 
{
    top: -0.5em;
}

sub 
{
    bottom: -0.25em;
}

mark
{
    background: $gold-lighter;
}
small 
{
    font-size: ($font-base-size * .8px);
}

/* @end */