/**
 * Mizzou Framework - Sass: Variables
 *
 * @author Josh Hughes (hughesjd@missouri.edu), Josh Nichols (nicholsjc@missouri.edu), University of Missouri
 * @copyright 2015 Curators of the University of Missouri
 * @version 1.00
 */

/* @group Colors */
    
$gold:                          #f1b82d; // Mizzou Gold
$gold-darker:                   darken($gold, 20%);
$gold-dark:                     darken($gold, 12%);
$gold-light:                    lighten($gold, 18%);
$gold-lighter:                  lighten($gold, 28%);
$gold-lightest:                 lighten($gold, 35%);

$grey-darker:                   #222;
$grey-dark:                     #444;
$grey:                          #666;
$grey-light:                    #999;
$grey-lighter:                  #ccc;
$grey-lightest:                 #ededed;

$tan-dark:                      #cac8b5;
$tan:                           #edebd5;
$tan-light:                     #f5f2f0;

$red:                           #900000;
$red-light:                     lighten($red, 68%);
$red-dark:                      darken($red, 10%);

$orange:                        #bd5c2c;
$orange-light:                  lighten($orange, 45%);
$orange-dark:                   darken($orange, 14%);

$green:                         #69901D;
$green-light:                   lighten($green, 55%);
$green-dark:                    darken($green, 11%);

$blue:                          #318fd7;
$blue-light:                    lighten($blue, 42%);
$blue-dark:                     darken($blue, 20%);

// Colors by use

$text-color:                    $grey-darker;
$background-color:              $white;
$link-color:                    $red;
$link-hover-color:              $black;
$hr-color:                      $grey-lighter;
$box-bg-color:                  $tan-light;
$box-border-color:              $tan;
$code-bg-color:                 $tan-light;
$code-border-color:             $tan;
$abbr-color:                    $grey-lighter;
$mark-color:                    $gold-lighter;
$help-color:                    $grey-light;
$form-error-message-color:      $red;
$form-error-bg-color:           $red-light;
$form-error-border-color:       $red;
$form-field-border-color:       $grey-lighter;
$table-cell-border-color:       $grey-lighter;
$table-cell-stripe-color:       $grey-lightest;
$table-cell-header-color:       $gold-lightest;

/* @end */

 
/* @group Fonts */
    
$font-serif:                    'Janson', 'Times New Roman', Times, serif;
$font-serif-sc:                 'Janson-SC', $font-serif;
$font-sans:                     'Proxima Nova', 'proxima-nova', 'Arial', sans-serif; // 'Proxima Nova' is for embedded web fonts, 'proxima-nova' is for Typekit
$font-monospace:                'Menlo', 'Consolas', 'Courier New', monospace; 

// Aligns with Proxima Nova's weights
$font-thin:                     200; 
$font-light:                    300; 
$font-normal:                   400;
$font-medium:                   500;
$font-semibold:                 600;
$font-bold:                     700;
$font-xbold:                    800;
$font-black:                    900;

// Default font path
$font-path:                     '../fonts';

// Base values
$font-base-family:              $font-sans;
$font-base-size:                16;
$font-base-line-height:         1.5;

/* @end */


/* @group Images */

// Default image path
$image-path:                    '../images';

/* @end */


/* @group Viewport */

// Viewport width
$viewport-width:                device-width;

/* @end */