/*! IE 8 STYLES */
/*--------------------------------------------------------------
  
* Site:             Mizzou Styleguide
* Author:           Josh Nichols, MU Web Communications
  
--------------------------------------------------------------*/

@import '../../src/less/vars/_vars.less';
@import '../../src/less/mixins/_mizzou-ie.less';

.sig-ie-example {
    .mu-unit-sig-ie(
        @logo-size: "64", 
        @print: "yes", 
        @unit-img: "unit-name_64.png",
    ); 
}
.mu-sig-ie-example {
    .mu-sig-ie(
        @logo-size: "64", 
        @print: "yes" 
    ); 
}

.signature { 
    .mu-unit-sig-ie(
        @logo-size: "32", 
        @logo-style: "stroked", 
        @wordmark-color: "white", 
        @print: "yes", 
        @unit-img: "mizzou-framework-white_32.svg",
        @unit-img-print: "mizzou-framework_32.svg"
    );
}