@import "../sass/_variables";
@import "../sass/_base-mixins";

.color-row 
{
    @include clear-fix();
    margin-bottom: 3em;
    
    p 
    {
        font-family: $font-monospace;
        font-size: .8em;
    }
    
    .black              { background-color: black; }
    .grey-darker        { background-color: $grey-darker; }
    .grey-dark          { background-color: $grey-dark; }
    .grey               { background-color: $grey; }
    .grey-light         { background-color: $grey-light; }
    .grey-lighter       { background-color: $grey-lighter; }
    .grey-lightest      { background-color: $grey-lightest; }
    
    .gold-darker        { background-color: $gold-darker; }
    .gold-dark          { background-color: $gold-dark; }
    .gold               { background-color: $gold; }
    .gold-light         { background-color: $gold-light; }
    .gold-lighter       { background-color: $gold-lighter; }
    .gold-lightest      { background-color: $gold-lightest; }
    
    .warm-grey-lighter  { background-color: $warm-grey-lighter; }
    .warm-grey-light    { background-color: $warm-grey-light; }
    .warm-grey          { background-color: $warm-grey; }
    .warm-grey-dark     { background-color: $warm-grey-dark; }
    .warm-grey-darker   { background-color: $warm-grey-darker; }
    .warm-grey-darkest  { background-color: $warm-grey-darkest; }
    
    .red-lighter        { background-color: $red-lighter; }
    .red-light          { background-color: $red-light; }
    .red                { background-color: $red; }
    .red-dark           { background-color: $red-dark; }
    .red-darker         { background-color: $red-darker; }
    
    .orange-lighter     { background-color: $orange-lighter; }
    .orange-light       { background-color: $orange-light; }
    .orange             { background-color: $orange; }
    .orange-dark        { background-color: $orange-dark; }
    .orange-darker      { background-color: $orange-darker; }
    
    .green-lighter      { background-color: $green-lighter; }
    .green-light        { background-color: $green-light; }
    .green              { background-color: $green; }
    .green-dark         { background-color: $green-dark; }
    .green-darker       { background-color: $green-darker; }
    
    .blue-lighter       { background-color: $blue-lighter; }
    .blue-light         { background-color: $blue-light; }
    .blue               { background-color: $blue; }
    .blue-dark          { background-color: $blue-dark; }
    .blue-darker        { background-color: $blue-darker; }
}

.color-primary
{
    float: left;
    width: 33.333%;
    padding-right: 2.5%;
}
.color-small 
{   
    float: left;
    width: 33.333%;
    margin-right: 0;
}
.color-short 
{
    height: 5em;
    margin-bottom: .5em;
}
.color-tall 
{
    height: 8em;
    margin-bottom: .5em;
}
.color-hex 
{
    margin: 0;
}
.color-name 
{
    font-weight: $font-bold-default;
    margin: 0;
}