@import "../sass/_variables";
@import "../sass/_base-mixins"; 
@import "../sass/_base"; 

.wrapper 
{
    max-width: 800px;
    margin: 0 auto 1em;
    padding: 1em;
}
header 
{
    margin-bottom: 1em;
}
article 
{
    margin-bottom: 1em;
}
footer 
{
    margin-bottom: 1em;
} 