@import "../sass/_variables";
@import "../sass/_font-proxima-nova";
@import "../sass/_base-mixins"; 
@import "../sass/_base"; 
@import "../sass/_mizzou-signature"; 



// Branding 

.mu-sig
{
    @include mu-sig(
        $print: 'true'
    );
    padding-bottom: 1em;
}

.wrapper 
{
    max-width: 800px;
    margin: 0 auto 1em;
    padding: 1em;
}
header 
{
    margin-bottom: 1em;
}
article 
{
    margin-bottom: 1em;
}
footer 
{
    margin-bottom: 1em;
    
    p 
    {
        line-height: ($font-base-line-height * .8);
    }
} 

@media screen and (min-width: 624px)
{
    html 
    {
        font-size: 18px;
    }    
}