@import "../sass/_variables";
@import "../sass/_font-proxima-nova";
@import "../sass/_base-mixins"; 
@import "../sass/_base"; 
@import "../sass/_mizzou-signature"; 



.header-layer,
.footer-layer 
{
    background-color: $grey-darker;
}
.wrapper-layer 
{

} 
header,
.wrapper,
footer
{
    padding: 1em;
    @include center-block($max-width: 800px, $min-width: $base-min-width);
} 
.wrapper
{
    
}
article 
{
    margin-bottom: 1em;
}
footer 
{   
    p 
    {
        color: $grey-lighter;
        line-height: ($font-base-line-height * .75);
        
        a 
        {
            color: $grey-lighter;
            
            &:hover,
            &:focus,
            &:active
            {
                color: $gold;
            }
        }
    }
} 


// Branding 

.mu-sig
{
    @include mu-sig(
        $print: 'true',
        $color: 'white'
    );
}

@media screen and (min-width: 624px)
{
    html 
    {
        font-size: 18px;
    }    
}