/*! IE 8 STYLES */
/*--------------------------------------------------------------
  
* Site:             Mizzou Styleguide
* Author:           Josh Nichols, MU Web Communications
  
--------------------------------------------------------------*/
/*! VARIABLES */
/*--------------------------------------------------------------
  
* Site:             Mizzou Web Style Guide
* Author:           Josh Nichols, MU Web Communications
* Version:          1.2
  
--------------------------------------------------------------*/
@viewport {
  width: device-width;
}
@-ms-viewport {
  width: device-width;
}
/*! MIZZOU BRAND STYLES - IE */
/*--------------------------------------------------------------
  
* Site:             Mizzou Web Style Guide
* Author:           Josh Nichols, MU Web Communications
* Version:          1
* Dependancies: 
    
    Autoprefixer - https://github.com/ai/autoprefixer
  
--------------------------------------------------------------*/
.ie .logo a {
  background-image: url('../images/mizzou-logo-64-stroked.png');
}
@media print {
  .ie .logo a:after {
    content: url('../images/mizzou-logo-64.png');
  }
}
.ie .wordmark a {
  background-image: url('../images/wordmark-64.png');
}
@media print {
  .ie .wordmark a:after {
    content: url('../images/wordmark-64.png');
  }
}
.ie .unit a {
  background-image: url('../images/unit-name_64.png');
}
.signature .logo a {
  background-image: url('../images/mizzou-logo-32-stroked.png');
}
@media print {
  .signature .logo a:after {
    content: url('../images/mizzou-logo-32.png');
  }
}
.signature .wordmark a {
  background-image: url('../images/wordmark-32-white.png');
}
@media print {
  .signature .wordmark a:after {
    content: url('../images/wordmark-32.png');
  }
}
.signature .unit a {
  background-image: url('../images/mizzou-framework_32.svg');
}
