
/*! MIZZOU BRAND STYLES - IE */
/*--------------------------------------------------------------
  
* Site:             Mizzou Web Style Guide
* Author:           Josh Nichols, MU Web Communications
* Version:          1
* Dependancies: 
    
    Autoprefixer - https://github.com/ai/autoprefixer
  
--------------------------------------------------------------*/

//! MU Signatures - PNG fallback

.mu-sig-ie (
    @logo-size:         "32", 
    @logo-style:        "stroked",
    @wordmark-color:    "black", 
    @print:             "no", 
    ) {
        
    & when (@logo-size = "24") { // Defualt
        
        .logo a { 
            
            & when (@logo-style = "none") {
                background-image: url('@{img-path}/mu-logo-24.png');
            }
            & when (@logo-style = "stroked") {
                background-image: url('@{img-path}/mu-logo-24-stroked.png');
            }                
            & when ( @print = "yes" ) {
                .print-image('@{img-path}/mu-logo-24.png');
            }
        }
        .wordmark a {
            
            & when (@wordmark-color = "black") {
                background-image: url('@{img-path}/mu-wordmark-24.png');
            }
            & when (@wordmark-color = "white") {
                background-image: url('@{img-path}/mu-wordmark-24-white.png');
            }
            
            & when (@print = "yes") {
                .print-image('@{img-path}/mu-wordmark-24.png');
            }
        }
    }
    & when (@logo-size = "32") { // Defualt
        
        .logo a { 
            
            & when (@logo-style = "none") {
                background-image: url('@{img-path}/mu-logo-32.png');
            }
            & when (@logo-style = "stroked") {
                background-image: url('@{img-path}/mu-logo-32-stroked.png');
            }                
            & when ( @print = "yes" ) {
                .print-image('@{img-path}/mu-logo-32.png');
            }
        }
        .wordmark a {
            
            & when (@wordmark-color = "black") {
                background-image: url('@{img-path}/mu-wordmark-32.png');
            }
            & when (@wordmark-color = "white") {
                background-image: url('@{img-path}/mu-wordmark-32-white.png');
            }
            
            & when (@print = "yes") {
                .print-image('@{img-path}/mu-wordmark-32.png');
            }
        }
    }
    & when (@logo-size = "48") { 
        
        .logo a { 
            
            & when (@logo-style = "none") {
                background-image: url('@{img-path}/mu-logo-48.png');
            }
            & when (@logo-style = "stroked") {
                background-image: url('@{img-path}/mu-logo-48-stroked.png');
            }                
            & when (@print = "yes") {
                .print-image('@{img-path}/mu-logo-48.png');
            }
        }
        .wordmark a {
            
            & when (@wordmark-color = "black") { 
                background-image: url('@{img-path}/unit-wordmark-48.png');
            }
            & when (@wordmark-color = "white") { 
                background-image: url('@{img-path}/unit-wordmark-48-white.png');
            }
            & when (@print = "yes") {
                .print-image('@{img-path}/unit-wordmark-48.png');
            }
        }       
    }
    
    & when (@logo-size = "64") {
        
        .logo a { 
            
            & when (@logo-style = "none") {
                background-image: url('@{img-path}/mu-logo-64.png');
            }
            & when (@logo-style = "stroked") {
                background-image: url('@{img-path}/mu-logo-64-stroked.png');
            }
            & when (@print = "yes") {
                .print-image('@{img-path}/mu-logo-64.png');
            }
        }
        .wordmark a {
            
            & when (@wordmark-color = "black") {
                background-image: url('@{img-path}/unit-wordmark-64.png');
            }
            & when (@wordmark-color = "white") {
                background-image: url('@{img-path}/unit-wordmark-64-white.png');
            }              
            & when (@print = "yes") {
                .print-image('@{img-path}/unit-wordmark-64.png');
            }
        }
    }
    
}



/*doc
---
title: MU Signature IE8 Fallback 
name: 03_mu-sig_10
category: MU Signatures
---

There is a PNG fallback mixin for browsers that do not support SVG images. When needed, use the 
`.mu-sig-ie()` mixin in your IE specific stylesheet to override the SVG image with a PNG version. 

`.mu-sig-ie()` must be used in conjunction with the `.mu-sig()`. The variables below must be 
set again if used in `.mu-sig()`.

```
@logo-size 
@logo-style 
@wordmark-color 
@print

```

```html_example
<div class="mu-sig-ie-example">
    <p class="logo"><a href="http://missouri.edu">Mizzou Logo</a></p>
    <h1 class="wordmark"><a href="http://missouri.edu">University of Missouri</a></h1>
</div>
```
```
.mu-sig-ie-example {
    .mu-sig(
        @logo-size: "64", 
        @print: "yes" 
    );
}
 
// Override for IE8 only stylesheet
.mu-sig-ie-example {
    .mu-sig-ie(
        @logo-size: "64", 
        @print: "yes" 
    ); 
}
```
*/


//! Unit Signatures - PNG fallbacks
    
.mu-unit-sig-ie (
    @logo-size:         "48", 
    @logo-style:        "stroked",
    @wordmark-color:    "black", 
    @print:             "no", 
    @unit-img,
    @unit-img-print:    @unit-img
    ) {
       
    & when (@logo-size = "32") {
        
        .logo a { 
            
            & when (@logo-style = "none") {
                background-image: url('@{img-path}/mu-logo-32.png');
            }
            & when (@logo-style = "stroked") {
                background-image: url('@{img-path}/mu-logo-32-stroked.png');
            }                
            & when ( @print = "yes" ) {
                .print-image('@{img-path}/mu-logo-32.png');
            }
        }
        .wordmark a {
            
            & when (@wordmark-color = "black") {
                background-image: url('@{img-path}/unit-wordmark-32.png');
            }
            & when (@wordmark-color = "white") {
                background-image: url('@{img-path}/unit-wordmark-32-white.png');
            }
            
            & when (@print = "yes") {
                .print-image('@{img-path}/unit-wordmark-32.png');
            }
        }
        .unit a {
            background-image: url('@{img-path}/@{unit-img-print}');
        }
    }
    
    & when (@logo-size = "48") { // Defualt
        
        .logo a { 
            
            & when (@logo-style = "none") {
                background-image: url('@{img-path}/mu-logo-48.png');
            }
            & when (@logo-style = "stroked") {
                background-image: url('@{img-path}/mu-logo-48-stroked.png');
            }                
            & when (@print = "yes") {
                .print-image('@{img-path}/mu-logo-48.png');
            }
        }
        .wordmark a {
            
            & when (@wordmark-color = "black") { 
                background-image: url('@{img-path}/unit-wordmark-48.png');
            }
            & when (@wordmark-color = "white") { 
                background-image: url('@{img-path}/unit-wordmark-48-white.png');
            }
            & when (@print = "yes") {
                .print-image('@{img-path}/unit-wordmark-48.png');
            }
        } 
        .unit a {
            background-image: url('@{img-path}/@{unit-img-print}');
        }       
    }
    
    & when (@logo-size = "64") {
        
        .logo a { 
            
            & when (@logo-style = "none") {
                background-image: url('@{img-path}/mu-logo-64.png');
            }
            & when (@logo-style = "stroked") {
                background-image: url('@{img-path}/mu-logo-64-stroked.png');
            }
            & when (@print = "yes") {
                .print-image('@{img-path}/mu-logo-64.png');
            }
        }
        .wordmark a {
            
            & when (@wordmark-color = "black") {
                background-image: url('@{img-path}/unit-wordmark-64.png');
            }
            & when (@wordmark-color = "white") {
                background-image: url('@{img-path}/unit-wordmark-64-white.png');
            }              
            & when (@print = "yes") {
                .print-image('@{img-path}/unit-wordmark-64.png');
            }
        }
        .unit a {
            background-image: url('@{img-path}/@{unit-img-print}');
        }
    }
}    

//! Replaces background image with content selector and after pseudo element for printing

.print-image ( @img ) {
    
    @media print {
        
        &:after {
            content: url('@{img}');
        }   
    }
}

/*doc
---
title: Unit Signature IE8 Fallback 
name: 03_unit-sig_10
category: Unit Signatures
---

There is a PNG fallback mixin for browsers that do not support SVG images. When needed, use the 
`.mu-unit-sig-ie()` mixin in your IE specific stylesheet to override the SVG image with a PNG version. 

`.mu-unit-sig-ie()` must be used in conjunction with the `.mu-unit-sig()`. The variables below must be 
set again if used in `.mu-unit-sig()`.

```
@logo-size 
@logo-style 
@wordmark-color 
@print
@unit-img // Required
@unit-img-print // Defaults to @unit-img

```

```html_example
<div class="sig-ie-example">
    <p class="logo"><a href="http://missouri.edu">Mizzou Logo</a></p>
    <h1 class="unit"><a href="http://missouri.edu">Of&#64257;ce of Programs</a></h1>
    <h2 class="wordmark"><a href="http://missouri.edu">University of Missouri</a></h2>
</div>
```
```
.sig-ie-example {
    .mu-unit-sig(
        @logo-size: "64", 
        @print: "yes", 
        @unit-width: 404px, 
        @unit-height: 57px, 
        @unit-img: "unit-name_64.svg",
    );
}
 
// Override for IE8 only stylesheet
.sig-ie-example {
    .mu-unit-sig-ie(
        @logo-size: "64", 
        @print: "yes", 
        @unit-img: "unit-name_64.png",
    ); 
}
```
*/