/*! MIZZOU BRAND STYLES */
/*--------------------------------------------------------------
  
* Site:             Mizzou Web Style Guide
* Author:           Josh Hughes, Josh Nichols, MU Web Communications
* Version:          1.5
* Dependancies: 
    
    Autoprefixer - https://github.com/ai/autoprefixer
    
* Notes 
    - Make centered versions of header
    - Make versions with just the university of MO next to logo.
  
--------------------------------------------------------------*/

//! MU Signatures 

.mu-sig(
    @logo-size:         "32", 
    @logo-style:        "stroked", 
    @wordmark-color:    "black", 
    @print:             "no", 
    @center:            "no"
    ) {
        
    .logo,
    .wordmark {
        margin: 0;
    }
    
    .logo a,
    .wordmark a {
        
        .img-replace();
        background-position: left 0; 
        background-repeat: no-repeat;
        
        & when (@center = "no") {
            margin: 0;
        }
        & when (@center = "yes") {
            margin-left: auto;
            margin-right: auto;
        }
    }
    
    & when (@logo-size = "24") {
        
        min-height: 29px;
        
        .logo a { 
            width: 26px;
            height: 29px;
            
            & when (@logo-style = "none") {
                background-image: url('@{img-path}/mu-logo-24.svg');
            }
            & when (@logo-style = "stroked") {
                background-image: url('@{img-path}/mu-logo-24-stroked.svg');
            }                
            & when ( @print = "yes" ) {
                .print-image('@{img-path}/mu-logo-24.svg');
            }
            & when (@center = "no") {
                float: left;
                margin-left: -1px;
                margin-right: 0;
            }
            & when (@center = "yes") {
                float: none;
                margin-bottom: 8px; // Clear space
            }
        }
        .wordmark {            
            & when (@center = "no") {
                margin-left: 32px; // 8px clear
                padding-top: 5px; 
            }
            & when (@center = "yes") {
                margin-left: 0;   
                padding-top: 0; 
            }
        } 
        .wordmark a {
            width: 177px;
            height: 21px;
            
            & when (@wordmark-color = "black") {
                background-image: url('@{img-path}/mu-wordmark-24.svg');
            }
            & when (@wordmark-color = "white") {
                background-image: url('@{img-path}/mu-wordmark-24-white.svg');
            }
            
            & when (@print = "yes") {
                .print-image('@{img-path}/mu-wordmark-24.svg');
            }
        
            &:hover,
            &:focus,
            &:active {
                background-position: left -21px;
            }
        }
    }
    
    & when (@logo-size = "32") { // Default
        
        min-height: 38px;
        
        .logo a { 
            width: 34px;
            height: 38px;
            
            & when (@logo-style = "none") {
                background-image: url('@{img-path}/mu-logo-32.svg');
            }
            & when (@logo-style = "stroked") {
                background-image: url('@{img-path}/mu-logo-32-stroked.svg');
            }                
            & when ( @print = "yes" ) {
                .print-image('@{img-path}/mu-logo-32.svg');
            }
            & when (@center = "no") {
                float: left;
                margin-left: -1px;
                margin-right: 0;
            }
            & when (@center = "yes") {
                float: none;
                margin-bottom: 11px; // Clear space
            }
        }
        .wordmark {
            & when (@center = "no") {
                margin-left: 43px; // 11px clear
                padding-top: 7px;
            }
            & when (@center = "yes") {
                margin-left: 0; 
                padding-top: 0;   
            }
        } 
        .wordmark a {
            width: 229px;
            height: 27px;
            
            & when (@wordmark-color = "black") {
                background-image: url('@{img-path}/mu-wordmark-32.svg');
            }
            & when (@wordmark-color = "white") {
                background-image: url('@{img-path}/mu-wordmark-32-white.svg');
            }
            
            & when (@print = "yes") {
                .print-image('@{img-path}/mu-wordmark-32.svg');
            }
        
            &:hover,
            &:focus,
            &:active {
                background-position: left -27px;
            }
        }
    }
    & when (@logo-size = "48") { 
        
        min-height: 56px;
        
        .logo a { 
            width: 50px;
            height: 56px;
            
            & when (@logo-style = "none") {
                background-image: url('@{img-path}/mu-logo-48.svg');
            }
            & when (@logo-style = "stroked") {
                background-image: url('@{img-path}/mu-logo-48-stroked.svg');
            }                
            & when ( @print = "yes" ) {
                .print-image('@{img-path}/mu-logo-48.svg');
            }
            & when (@center = "no") {
                float: left;
                margin-left: -1px;
                margin-right: 0;
            }
            & when (@center = "yes") {
                float: none;
                margin-bottom: 16px; // Clear space
            }
        }
        .wordmark {
            & when (@center = "no") {
                margin-left: 64px; // 16px clear
                padding-top: 9px;
            }
            & when (@center = "yes") {
                margin-left: 0; 
                padding-top: 0;   
            }
        } 
        .wordmark a {
            width: 334px;
            height: 39px;
            
            & when (@wordmark-color = "black") {
                background-image: url('@{img-path}/mu-wordmark-48.svg');
            }
            & when (@wordmark-color = "white") {
                background-image: url('@{img-path}/mu-wordmark-48-white.svg');
            }
            
            & when (@print = "yes") {
                .print-image('@{img-path}/mu-wordmark-48.svg');
            }
        
            &:hover,
            &:focus,
            &:active {
                background-position: left -39px;
            }
        }
    }
    & when (@logo-size = "64") { 
        
        min-height: 74px;
        
        .logo a { 
            width: 66px;
            height: 74px;
            
            & when (@logo-style = "none") {
                background-image: url('@{img-path}/mu-logo-64.svg');
            }
            & when (@logo-style = "stroked") {
                background-image: url('@{img-path}/mu-logo-64-stroked.svg');
            }                
            & when ( @print = "yes" ) {
                .print-image('@{img-path}/mu-logo-64.svg');
            }
            & when (@center = "no") {
                float: left;
                margin-left: -1px;
                margin-right: 0;
            }
            & when (@center = "yes") {
                float: none;
                margin-bottom: 21px; // Clear space
            }
        }
        .wordmark {
            & when (@center = "no") {
                margin-left: 85px; // 21px clear
                padding-top: 12px;
            }
            & when (@center = "yes") {
                margin-left: 0; 
                padding-top: 0;   
            }
        } 
        .wordmark a {
            width: 478px;
            height: 56px;
            
            & when (@wordmark-color = "black") {
                background-image: url('@{img-path}/mu-wordmark-64.svg');
            }
            & when (@wordmark-color = "white") {
                background-image: url('@{img-path}/mu-wordmark-64-white.svg');
            }
            
            & when (@print = "yes") {
                .print-image('@{img-path}/mu-wordmark-64.svg');
            }
        
            &:hover,
            &:focus,
            &:active {
                background-position: left -56px;
            }
        }
    }

}


/*doc
---
title: MU Signature Mixin 
name: 02_mu-sig_01
category: MU Signatures
---
The `.mu-sig()` mixin has a set of variables that can be passed to it to define size, 
style and printing options. This is also useful in resetting options for media queries. 
Below are the mixin options.

```
@logo-size:         "64"  
@logo-size:         "48"
@logo-size:         "32" // Default
@logo-size:         "24"

@logo-style:        "stroked" // Default 
@logo-style:        "none"

@wordmark-color:    "black" // Default 
@wordmark-color:    "white"

@print:             "no" // Default
@print:             "yes"

@center:            "no" // Default
@center:            "yes"

```

*/

/*doc
---
title: MU Signature Examples
name: 03_mu-sig_02
category: MU Signatures
---

## Default example

```html_example
<div class="mu-sig-default-example">
    <p class="logo"><a href="http://missouri.edu">Mizzou Logo</a></p>
    <h1 class="wordmark"><a href="http://missouri.edu">University of Missouri</a></h1>
</div>
```
```
.mu-sig-default-example {
    .mu-sig();
}
```

## Dark background example with options

The MU logo with a stroke around it should be used on signatures with a colored background. See section
1.2 of the Graphic Identity Standards at [identity.missouri.edu](http://identity.missouri.edu/).

```html_example
<div class="mu-sig-dark-example">
    <p class="logo"><a href="http://missouri.edu">Mizzou Logo</a></p>
    <h1 class="wordmark"><a href="http://missouri.edu">University of Missouri</a></h1>
</div>
```
```
.mu-sig-dark-example {
    padding: 1.5em;
    background: #333;
    .mu-sig(
        @logo-size: "48",  
        @wordmark-color: "white", 
        @print: "yes" 
    );
}
```

## Gold example with media query change

```html_example
<div class="mu-sig-gold-responsive-example">
    <p class="logo"><a href="http://missouri.edu">Mizzou Logo</a></p>
    <h1 class="wordmark"><a href="http://missouri.edu">University of Missouri</a></h1>
</div>
```
```
.mu-sig-gold-responsive-example {
    padding: 1.5em;
    background: @gold;
    .mu-sig(
        @logo-size: "32", 
        @print: "yes", 
        @center: "yes" 
    );
    
    @media screen and (max-width: 850px){
        .mu-sig(
            @logo-size: "32", 
        );
    }
}  
```


*/


//! Unit Signatures

.mu-unit-sig (
    @logo-size:         "48", 
    @logo-style:        "stroked", 
    @wordmark-color:    "black", 
    @wordmark-indent:   0, 
    @print:             "no", 
    @center:            "no", 
    @unit-margin:       0, 
    @unit-width, 
    @unit-height, 
    @unit-img,
    @unit-img-print:    @unit-img
    ){
    
    .logo,
    .wordmark,
    .unit {
        margin: 0;
    }
    
    .logo a,
    .wordmark a,
    .unit a {
        
        .img-replace();
        background-position: left 0;
        background-repeat: no-repeat;
        
        & when (@center = "no") {
            margin: 0;
        }
        & when (@center = "yes") {
            margin-left: auto;
            margin-right: auto;
        }
    }
       
    & when (@logo-size = "32") {
        
        .logo a { 
            width: 34px;
            height: 38px;
            
            & when (@logo-style = "none") {
                background-image: url('@{img-path}/mu-logo-32.svg');
            }
            & when (@logo-style = "stroked") {
                background-image: url('@{img-path}/mu-logo-32-stroked.svg');
            }                
            & when ( @print = "yes" ) {
                .print-image('@{img-path}/mu-logo-32.svg');
            }
            & when (@center = "no") {
                float: left;
                margin-left: -1px;
                margin-right: 0;
            }
            & when (@center = "yes") {
                float: none;
                margin-bottom: 11px; // Clear space
            }
        }
        .wordmark,
        .unit {
            & when (@center = "no") {
                margin-left: 43px; // 11px clear
            }
            & when (@center = "yes") {
                margin-left: 0;    
            }
        } 
        .wordmark { 
            & when not (@wordmark-indent = 0) {
                padding-left: @wordmark-indent;
            }
        }
        .unit {
            & when not (@unit-margin = 0) {
                margin-bottom: @unit-margin;
            }
        }
        .wordmark a {
            width: 149px;
            height: 17px;
            
            & when (@wordmark-color = "black") {
                background-image: url('@{img-path}/unit-wordmark-32.svg');
            }
            & when (@wordmark-color = "white") {
                background-image: url('@{img-path}/unit-wordmark-32-white.svg');
            }
            
            & when (@print = "yes") {
                .print-image('@{img-path}/unit-wordmark-32.svg');
            }
        
            &:hover,
            &:focus,
            &:active {
                background-position: left -17px;
            }
        }
        .unit-name();
    }
    
    & when (@logo-size = "48") { // Default

        .logo a { 
            width: 50px;
            height: 56px;
            
            & when (@logo-style = "none") {
                background-image: url('@{img-path}/mu-logo-48.svg');
            }
            & when (@logo-style = "stroked") {
                background-image: url('@{img-path}/mu-logo-48-stroked.svg');
            }                
            & when (@print = "yes") {
                .print-image('@{img-path}/mu-logo-48.svg');
            }
            & when (@center = "no") {
                float: left;
                margin-left: -1px;
                margin-right: 0;
            }
            & when (@center = "yes") {
                float: none;
                margin-bottom: 16px; // Clear space
            }
        }
        .wordmark,
        .unit {
            & when (@center = "no") {
                margin-left: 64px; // 16px clear
            }
            & when (@center = "yes") {
                margin-left: 0;    
            }
        }
        .wordmark {
            & when not (@wordmark-indent = 0) {
                padding-left: @wordmark-indent;
            }
        }
        .unit {
            & when not (@unit-margin = 0) {
                margin-bottom: @unit-margin;
            }
        }   
        .wordmark a {
            width: 183px;
            height: 20px;
            
            & when (@wordmark-color = "black") { 
                background-image: url('@{img-path}/unit-wordmark-48.svg');
            }
            & when (@wordmark-color = "white") { 
                background-image: url('@{img-path}/unit-wordmark-48-white.svg');
            }
            & when (@print = "yes") {
                .print-image('@{img-path}/unit-wordmark-48.svg');
            }

            &:hover,
            &:focus,
            &:active {
                background-position: left -20px;
            }
        }
        .unit-name();       
    }
    
    & when (@logo-size = "64") {

        .logo a { 
            width: 66px;
            height: 74px;
            
            & when (@logo-style = "none") {
                background-image: url('@{img-path}/mu-logo-64.svg');
            }
            & when (@logo-style = "stroked") {
                background-image: url('@{img-path}/mu-logo-64-stroked.svg');
            }
            & when (@print = "yes") {
                .print-image('@{img-path}/mu-logo-64.svg');
            }
            & when (@center = "no") {
                float: left;
                margin-left: -1px;
                margin-right: 0;
            }
            & when (@center = "yes") {
                float: none;
                margin-bottom: 21px; // Clear space
            }
        }
        .wordmark,
        .unit {
            & when (@center = "no") {
                margin-left: 85px; // 21px clear
            }
            & when (@center = "yes") {
                margin-left: 0;    
            }
        }
        .wordmark {
            & when not (@wordmark-indent = 0) { 
                padding-left: @wordmark-indent;
            }
        }
        .unit {
            & when not (@unit-margin = 0) {
                margin-bottom: @unit-margin;
            }
        }
        .wordmark a {
            width: 243px;
            height: 26px;
            
            & when (@wordmark-color = "black") {
                background-image: url('@{img-path}/unit-wordmark-64.svg');
            }
            & when (@wordmark-color = "white") {
                background-image: url('@{img-path}/unit-wordmark-64-white.svg');
            }              
            & when (@print = "yes") {
                .print-image('@{img-path}/unit-wordmark-64.svg');
            }
            
            &:hover,
            &:focus,
            &:active {
                background-position: left -26px;
            }
        }
        .unit-name();
    }
}

.unit-name() {
    
    .unit a {
        width: @unit-width;
        height: @unit-height;
        background-image: url('@{img-path}/@{unit-img}');
        
        &:hover,
        &:focus,
        &:active {
            background-position: left -(@unit-height);
        }
        & when (@print = "yes") {
            .print-image('@{img-path}/@{unit-img-print}');
        }
    }
    
}


//! Replaces background image with content selector and after pseudo element for printing

.print-image (@img) {
    
    @media print {
        position: relative;
        background: none;
        
        &:after {
            content: url('@{img}');
            text-indent: 0;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
        }   
    }
}


/*doc
---
title: Unit Signature Mixin 
name: 03_unit-sig_01
category: Unit Signatures
---
The `.mu-unit-sig()` mixin has a set of variables that can be passed to it to define size, 
style and printing options. This is also useful in resetting options for media queries. 
Below are the mixin options.

```
@logo-size:          "64" 
@logo-size:          "48" // Default
@logo-size:          "32"

@logo-style:        "stroked" // Default 
@logo-style:        "none"

@wordmark-color:    "black" // Default 
@wordmark-color:    "white"

@wordmark-indent:   0 // Default
@wordmark-indent:   2px // Use a unit value to add left margin to wordmark

@print:             "no" // Default
@print:             "yes"

@center:            "no" // Default
@center:            "yes"

@unit-margin:       0 // Default
@unit-margin:       2px // Use a unit value to add bottom margin to unit name

```
The unit variables below set the options for the custom unit name image. Every site will 
have a unique unit name. Images for these are not part of the framework. **All variables 
Except `@unit-img-print` are required.**

```
@unit-width:        100px // Use px units
@unit-height:       25px
@unit-image:        "image-file-name.svg" // Place image in images folder
@unit-img-print:    "image-file-name-print.svg" // Defaults to @unit-image

```

> ## Unit Name Image Creation
> 
> University units may not create new logos. Unit signatures have a carefully defined relationship 
> among the logo, the unit and division names, and the university wordmark. **For this reason, do not 
> attempt to re-create any part of a unit signature.** To obtain unit name graphics, contact the Division 
> of Marketing & Communications at [identity@missouri.edu](mailto:identity@missouri.edu). See section
> 1.4 of the Graphic Identity Standards at [identity.missouri.edu](http://identity.missouri.edu/).
> 
> When designing for a small phone screen, the max-width the unit name can be is 245px wide.

*/

/*doc
---
title: Unit Signature Examples
name: 03_unit-sig_02
category: Unit Signatures
---

## Default example

```html_example
<div class="sig-default-example">
    <p class="logo"><a href="http://missouri.edu">Mizzou Logo</a></p>
    <h1 class="unit"><a href="http://missouri.edu">Office of Programs</a></h1>
    <h2 class="wordmark"><a href="http://missouri.edu">University of Missouri</a></h2>
</div>
```
```
.sig-default-example {
    .mu-unit-sig(
        @unit-width: 284px, 
        @unit-height: 40px, 
        @unit-img: "unit-name_48.svg",
    );
}
```
## Dark background example with options

The MU logo with a stroke around it should be used on signatures with a colored background. See section
1.2 of the Graphic Identity Standards at [identity.missouri.edu](http://identity.missouri.edu/).

```html_example
<div class="sig-dark-example">
    <p class="logo"><a href="http://missouri.edu">Mizzou Logo</a></p>
    <h1 class="unit"><a href="http://missouri.edu">Office of Programs</a></h1>
    <h2 class="wordmark"><a href="http://missouri.edu">University of Missouri</a></h2>
</div>
```
```
.sig-dark-example {
    padding: 1.5em;
    background: #333;
    .mu-unit-sig(
        @logo-size: "64",  
        @wordmark-color: "white", 
        @wordmark-indent: 2px, 
        @print: "yes", 
        @unit-width: 404px, 
        @unit-height: 57px, 
        @unit-img: "unit-name-white_64.svg",
        @unit-img-print: "unit-name_64.svg"
    );
}
```

## Gold example with media query change

```html_example
<div class="sig-gold-responsive-example">
    <p class="logo"><a href="http://missouri.edu">Mizzou Logo</a></p>
    <h1 class="unit"><a href="http://missouri.edu">Office of Programs</a></h1>
    <h2 class="wordmark"><a href="http://missouri.edu">University of Missouri</a></h2>
</div>
```
```
.sig-gold-responsive-example {
    padding: 1.5em;
    background: @gold;
    .mu-unit-sig(
        @logo-size: "32", 
        @print: "yes", 
        @center: "yes", 
        @unit-margin: 5px, 
        @unit-width: 194px, 
        @unit-height: 27px, 
        @unit-img: "unit-name_32.svg",
    );
    
    @media screen and (max-width: 850px){
        .mu-unit-sig(
            @logo-size: "32", 
            @unit-margin: 5px, 
            @unit-width: 194px, 
            @unit-height: 27px, 
            @unit-img: "unit-name_32.svg",
        );
    }
}  
```

*/


