/*! TYPE VARIABLES */
/*--------------------------------------------------------------
  
* Site:             Mizzou Web Style Guide
* Author:           Josh Nichols, MU Web Communications
* Version:          1.2
  
--------------------------------------------------------------*/

@font-base:         16;
@font-line-height:  1.5;

@font-serif:        "Janson", "Times New Roman", Times, serif;
@font-serif-sc:     "Janson-SC", "Janson", "Times New Roman", Times, serif;
@font-sans:         "Proxima Nova", "Arial", sans-serif;
@font-monospace:    "Menlo", "Consolas","Courier New", monospace; 

@font-base-family:  @font-sans;

@font-thin:         200; 
@font-light:        300; 
@font-normal:       400;
@font-medium:       500;
@font-bold:         600;
@font-xbold:        700;
@font-black:        800;




/*doc
---
title: Type Variables
name: 05_typography_01
category: Typography
---

```
@font-base:         16;
@font-line-height:  1.5;

@font-serif:        "Janson", "Times New Roman", Times, serif;
@font-serif-sc:     "Janson-SC", "Janson", "Times New Roman", Times, serif;
@font-sans:         "Proxima Nova", "Arial", sans-serif;
@font-monospace:    "Menlo", "Consolas","Courier New", monospace; 

@font-base-family:  @font-sans;

@font-thin:         200; 
@font-light:        300; 
@font-normal:       400;
@font-medium:       500;
@font-bold:         600;
@font-xbold:        700;
@font-black:        800;
```

*/



/*doc
---
title: Licensing
name: 05_typography_02
category: Typography
---

## Important

Licensed fonts require embedding and are like software. Do not distribute licensed fonts. Only embed the font weights you need. Too many will increase page weight and slow down site rendering.

*/



/*doc
---
title: Janson
name: 05_typography_03
category: Typography
---

MU’s official typeface is Janson and is primarily use with the MU logo signature. <a href="http://www.myfonts.com/fonts/urw/janson/">Requires a license</a> and a tracking `@import` link that is unique to a specific font kit.

<div class="font-examples">
    <h3>Light (300)</h3>
    <p class="serif light">AaBbCcDdEeFfGgHhIiJjKkLlMmNnOoPpQqRrSsTtUuVvWwXxYyZz0123456789AaBbCcDdEeFfGgHhIiJjKkLlMmNnOoPpQqRrSsTtUuVvWwXxYyZz0123456789AaBbCcDdEeFfGgHhIiJjKkLlMmNnOoPpQqRrSsTtUuVvWwXxYyZz0123456789</p>
    <h3>Roman (400)</h3>
    <p class="serif normal">AaBbCcDdEeFfGgHhIiJjKkLlMmNnOoPpQqRrSsTtUuVvWwXxYyZz0123456789AaBbCcDdEeFfGgHhIiJjKkLlMmNnOoPpQqRrSsTtUuVvWwXxYyZz0123456789AaBbCcDdEeFfGgHhIiJjKkLlMmNnOoPpQqRrSsTtUuVvWwXxYyZz0123456789</p>
    <h3>Medium (500)</h3>
    <p class="serif medium">AaBbCcDdEeFfGgHhIiJjKkLlMmNnOoPpQqRrSsTtUuVvWwXxYyZz0123456789AaBbCcDdEeFfGgHhIiJjKkLlMmNnOoPpQqRrSsTtUuVvWwXxYyZz0123456789AaBbCcDdEeFfGgHhIiJjKkLlMmNnOoPpQqRrSsTtUuVvWwXxYyZz0123456789</p>
    <h3>Bold (600)</h3>
    <p class="serif bold">AaBbCcDdEeFfGgHhIiJjKkLlMmNnOoPpQqRrSsTtUuVvWwXxYyZz0123456789AaBbCcDdEeFfGgHhIiJjKkLlMmNnOoPpQqRrSsTtUuVvWwXxYyZz0123456789AaBbCcDdEeFfGgHhIiJjKkLlMmNnOoPpQqRrSsTtUuVvWwXxYyZz0123456789</p>
    <h3>Small Caps (400, no italics)</h3>
    <p class="serif-sc">AaBbCcDdEeFfGgHhIiJjKkLlMmNnOoPpQqRrSsTtUuVvWwXxYyZz0123456789AaBbCcDdEeFfGgHhIiJjKkLlMmNnOoPpQqRrSsTtUuVvWwXxYyZz0123456789AaBbCcDdEeFfGgHhIiJjKkLlMmNnOoPpQqRrSsTtUuVvWwXxYyZz0123456789</p>
</div>

*/



/*doc
---
title: Proxima Nova
name: 05_typography_04
category: Typography
---

MU’s core websites use Proxima Nova as the san-serif typeface. <a href="http://www.fontspring.com/fonts/mark-simonson-studio/proxima-nova">Requires a license</a> or a <a href="https://typekit.com/fonts/proxima-nova">Typekit account</a>.

<div class="font-examples">
    <h3>Thin (200)</h3>
    <p class="light">AaBbCcDdEeFfGgHhIiJjKkLlMmNnOoPpQqRrSsTtUuVvWwXxYyZz0123456789AaBbCcDdEeFfGgHhIiJjKkLlMmNnOoPpQqRrSsTtUuVvWwXxYyZz0123456789AaBbCcDdEeFfGgHhIiJjKkLlMmNnOoPpQqRrSsTtUuVvWwXxYyZz0123456789</p>
    <h3>Light (300)</h3>
    <p class="light">AaBbCcDdEeFfGgHhIiJjKkLlMmNnOoPpQqRrSsTtUuVvWwXxYyZz0123456789AaBbCcDdEeFfGgHhIiJjKkLlMmNnOoPpQqRrSsTtUuVvWwXxYyZz0123456789AaBbCcDdEeFfGgHhIiJjKkLlMmNnOoPpQqRrSsTtUuVvWwXxYyZz0123456789</p>
    <h3>Roman (400)</h3>
    <p class="normal">AaBbCcDdEeFfGgHhIiJjKkLlMmNnOoPpQqRrSsTtUuVvWwXxYyZz0123456789AaBbCcDdEeFfGgHhIiJjKkLlMmNnOoPpQqRrSsTtUuVvWwXxYyZz0123456789AaBbCcDdEeFfGgHhIiJjKkLlMmNnOoPpQqRrSsTtUuVvWwXxYyZz0123456789</p>
    <h3>Medium (500)</h3>
    <p class="medium">AaBbCcDdEeFfGgHhIiJjKkLlMmNnOoPpQqRrSsTtUuVvWwXxYyZz0123456789AaBbCcDdEeFfGgHhIiJjKkLlMmNnOoPpQqRrSsTtUuVvWwXxYyZz0123456789AaBbCcDdEeFfGgHhIiJjKkLlMmNnOoPpQqRrSsTtUuVvWwXxYyZz0123456789</p>
    <h3>Bold (600)</h3>
    <p class="bold">AaBbCcDdEeFfGgHhIiJjKkLlMmNnOoPpQqRrSsTtUuVvWwXxYyZz0123456789AaBbCcDdEeFfGgHhIiJjKkLlMmNnOoPpQqRrSsTtUuVvWwXxYyZz0123456789AaBbCcDdEeFfGgHhIiJjKkLlMmNnOoPpQqRrSsTtUuVvWwXxYyZz0123456789</p>
    <h3>Extra Bold (700)</h3>
    <p class="xbold">AaBbCcDdEeFfGgHhIiJjKkLlMmNnOoPpQqRrSsTtUuVvWwXxYyZz0123456789AaBbCcDdEeFfGgHhIiJjKkLlMmNnOoPpQqRrSsTtUuVvWwXxYyZz0123456789AaBbCcDdEeFfGgHhIiJjKkLlMmNnOoPpQqRrSsTtUuVvWwXxYyZz0123456789</p>
    <h3>Black (800)</h3>
    <p class="black">AaBbCcDdEeFfGgHhIiJjKkLlMmNnOoPpQqRrSsTtUuVvWwXxYyZz0123456789AaBbCcDdEeFfGgHhIiJjKkLlMmNnOoPpQqRrSsTtUuVvWwXxYyZz0123456789AaBbCcDdEeFfGgHhIiJjKkLlMmNnOoPpQqRrSsTtUuVvWwXxYyZz0123456789</p>
</div>

*/


/*doc
---
title: Monospace
name: 05_typography_05
category: Typography
---

Standard monospaced system font that’s primarily used for code examples.

<div class="font-examples">
    <h3>Normal (400)</h3>
    <p class="monospace">AaBbCcDdEeFfGgHhIiJjKkLlMmNnOoPpQqRrSsTtUuVvWwXxYyZz0123456789AaBbCcDdEeFfGgHhIiJjKkLlMmNnOoPpQqRrSsTtUuVvWwXxYyZz0123456789AaBbCcDdEeFfGgHhIiJjKkLlMmNnOoPpQqRrSsTtUuVvWwXxYyZz0123456789</p>
</div>

*/